button {
  background-color: #668355;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 1.5625rem;
  color: #FDFEFD;
  box-shadow:  3px 3px 8px #bcbaba;
  font-size: 1.125rem;
  transition: 0.4s ease;
}

button:hover {
  padding: 0.7rem 1.9rem;
  cursor: pointer;
}