.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow:  3px 3px 10px #bcbaba;
  overflow: hidden;
  width: 17rem;
  transition: 0.4s ease;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  height: 26rem;
}

.card:hover {
  height: 27rem;
  width: 18rem;
  cursor: pointer;
  margin: 0;
}

.cardImg {
  height: auto;
  width: 100%;
}

.cardText {
  padding: 1.5rem;
  transition: 0.4s ease;
}

.card:hover .cardText {
  padding: 2rem;
}

.cardDate {
  font-size: 0.9rem;
  color: #7F9D69;
  margin-top: 1rem;
}

@media (max-width: 51.25rem) {
  .card {
    margin: 0 0 3rem 0;
    width: 17rem;
    height: 26rem;
  }
}

@media (max-width: 64.375rem  ) {
  .card {
    width: 15rem;
    height: 25rem;
  }
  
  .card:hover {
    height: 26rem;
    width: 16rem;
  }
}