header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 6rem;
  height: auto;
}

a {
  text-decoration: none;
  color: #465045;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26rem;
}

.activeNav {
  color: #668355;
  font-weight: bolder;
}

@media (min-width: 1842px) {
  nav {
    width: 60%;
  }
}