header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.scrolled {
  background-color: #FDFEFD;
  transition: 0.3s ease;
  box-shadow:  1px 1px 15px #f5f5f5;
}

.logo {
  width: 6rem;
  height: auto;
}

a {
  text-decoration: none;
  color: #465045;
  transition: 0.2s ease;
}

a:hover {
  color: #7F9D69;
  cursor: pointer;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26rem;
}

.activeNav {
  color: #668355;
  font-weight: 800;
}
