footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #F4F8F1;
}

footer p {
  color: #E0E1DD !important;
}

.footerAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.activeNav {
  color: #668355;
  font-weight: bold;
}

@media (min-width: 1842px) {
  .footerAlign {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .footerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .footerAlign p {
    margin-bottom: 0;
  }
  
  .footerLeft {
    display: none;
  }
}