footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F8F1;
}

.logo {
  width: 6rem;
  height: auto;
}

.footerAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem;
  border-bottom: #A3C585 solid 1px;
}

.footerMiddle {
  width: 26rem;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #A3C585;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.activeNav {
  color: #668355;
  font-weight: bold;
}

@media (min-width: 1842px) {
  .footerAlign {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .footerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .footerAlign p {
    margin-bottom: 0;
  }
  
  .footerLeft {
    display: none;
  }
}