.swiperSection {
  padding-top: 0;
}

.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide {
  display: flex !important;
  flex-direction: row;
  box-shadow:  3px 3px 8px #bcbaba;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 3rem;
  max-width: 95%;
}

.swiperSlideText {
  padding: 3rem;
  width: 40%;
}

.swiperSlideText p {
  margin-bottom: 2rem;
}

.swiperSlideImg {
  overflow: hidden;
  width: 60%;
}

.swiperSlideImg img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.sectionFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.titleBlog {
  align-self: start;
}